secao04/venv/Lib/site-packages/asyncpg/pgproto/pgproto.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/asyncpg/protocol/protocol.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/greenlet/_greenlet.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/__init__.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/annotated_types.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/class_validators.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/color.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/config.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/dataclasses.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/datetime_parse.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/decorator.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/env_settings.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/error_wrappers.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/errors.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/fields.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/json.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/main.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/networks.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/parse.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/schema.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/tools.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/types.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/typing.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/utils.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/validators.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/pydantic/version.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/sqlalchemy/cyextension/collections.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/sqlalchemy/cyextension/immutabledict.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/sqlalchemy/cyextension/processors.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/sqlalchemy/cyextension/resultproxy.cp311-win_amd64.pyd
secao04/venv/Lib/site-packages/sqlalchemy/cyextension/util.cp311-win_amd64.pyd
secao04/venv/Scripts/python.exe
